html {
	background: url(https://images.unsplash.com/photo-1508252568242-e0f383f753d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
	font-family: "Times New Roman", Times, serif;
	color: white;
}

@font-face {
	font-family: "vegan_style_personal_useRg";
	src: url("font/veganstyle-webfont.woff2") format("woff2"), url("font/veganstyle-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "altropic_asian_demoregular";
	src: url("font/tropicalasiandemoregular-11v0-webfont.woff2") format("woff2"), url("font/tropicalasiandemoregular-11v0-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "chopsicregular";
	src: url("font/chopsic-k6dp-webfont.woff2") format("woff2"), url("font/chopsic-k6dp-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

ul.a {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	font-family: "Times New Roman", Times, serif;
}

li a {
	float: left;
	border-right: 1px solid #bbb;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #d3d3d3;
	transition: 0.5s;
}

.insc {
	border-left: 1px solid #bbb;
}

.active {
	background-color: rgb(0, 162, 255);
}

.lien {
	color: white;
}

footer {
	height: 4em;
	display: flex;
	justify-content: center;
	padding: 5px;
	background-color: rgb(134, 130, 130);
	color: #fff;
	font-family: "Roboto", sans-serif;
}

.certif {
	height: 2.5em;
	justify-content: center;
	background-color: rgb(59, 59, 59);
}

ul.b {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.dos {
	float: left;
}

h1 {
	text-transform: uppercase;
	text-decoration: overline rgb(0, 162, 255);
	font-family: "vegan_style_personal_useRg";
	color: white;
	font-size: 50px;
	text-align: center;
}

.container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
}

.bande {
	font-family: "altropic_asian_demoregular";
	font-size: 40px;
	margin-top: -40px;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Bouton-articles {
	border-radius: 4px;
	background-color: rgba(46, 9, 211, 0.911);
	border: none;
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.Bouton-articles span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.Bouton-articles span:after {
	content: "\00bb";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.Bouton-articles:hover span {
	padding-right: 25px;
}

.Bouton-articles:hover span:after {
	opacity: 1;
	right: 0;
}

.rectangle1 {
	width: 100%;
	height: 35vh;
	position: relative;
	opacity: 0.8;
}

.infos {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: 500;
}

.texte1 {
	background-color: rgb(132, 0, 255);
	border-radius: 30px;
	padding: 20px;
	margin: 100px;
	margin-top: unset;
	margin-bottom: 50px;
	text-align: center;
}

.texte2 {
	background-color: rgb(132, 0, 255);
	border-radius: 30px;
	padding: 20px;
	margin: 100px;
	margin-top: unset;
	margin-bottom: 50px;
	text-align: center;
}

.texte3 {
	background-color: rgb(132, 0, 255);
	border-radius: 30px;
	padding: 20px;
	margin: 100px;
	margin-top: 20px;
	margin-bottom: unset;
	text-align: center;
}

.p1 {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	font-family: "chopsicregular";
	color: black;
}

.p2 {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	font-family: "chopsicregular";
	color: black;
}

.p3 {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	font-family: "chopsicregular";
	color: black;
}

.temoignages {
	border: 2px solid orange;
	background-color: white;
	border-radius: 15px;
	color: orange;
	padding: 8px 22px;
	font-size: 14px;
	cursor: pointer;
}

.temoignages:hover {
	background: #ff9800;
	color: white;
}

.fa {
	text-align: center;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3b5998;
	color: white;
	margin-left: 5px;
}

.fa-twitter {
	background: #55acee;
	color: white;
	margin-left: 5px;
}

.fa-snapchat-ghost {
	background: #fffc00;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-left: 5px;
}

.dob {
	float: right;
}

.retour {
	border-radius: 4px;
	background-color: rgba(49, 50, 53, 0.911);
	border: none;
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	transition: all 0.5s;
	margin: 5px;
}
